html
	head
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js')
		script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-route.min.js')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
		script.
			function make(type,id){
				var password = prompt("Pass?")
				$.get("/api/admin/make/"+password+"/"+type+"/"+id, function(data){
					top.location.href = top.location.href;
				});
			}

			function reset(){
				var password = prompt("Pass?")
				$.get("/api/admin/reset/"+password, function(data){
					top.location.href = top.location.href;
				});
			}
	body
		.col-md-12
			button.btn.btn-info.col-md-3(onclick="reset()") Reset All Trial 48 hours
			table.table-bordered.table
				thead
					tr
						td Username
						td Type
						td Hwid Status
						td Trial Status
						td Total users:#{users.length}
				tbody
				each user in users
					if (user.type > 0)
						tr(style="background-color:lightGreen;")
							td=user.username
							td=user.type
							td=user.key
							td=~~((user.expire-Date.now())/1000/60)
							td
								button.btn.btn-info.col-md-3(onclick="make(1,'#{user._id}')") P -> 1
								button.btn.btn-info.col-md-3(onclick="make(2,'#{user._id}')") P -> 2
								button.btn.btn-info.col-md-3(onclick="make(0,'#{user._id}')") P -> 0
								button.btn.btn-info.col-md-3(onclick="make(5,'#{user._id}')") Reset Hwid
								button.btn.btn-info.col-md-3(onclick="make(6,'#{user._id}')") Reset Trial
								button.btn.btn-danger.col-md-3(onclick="make(3,'#{user._id}')") Delete
					else
						tr.userClass
							td=user.username
							td=user.type
							td=user.key
							td=~~((user.expire-Date.now())/1000/60)
							td
								button.btn.btn-info.col-md-3(onclick="make(1,'#{user._id}')") P -> 1
								button.btn.btn-info.col-md-3(onclick="make(2,'#{user._id}')") P -> 2
								button.btn.btn-info.col-md-3(onclick="make(0,'#{user._id}')") P -> 0
								button.btn.btn-info.col-md-3(onclick="make(5,'#{user._id}')") Reset Hwid
								button.btn.btn-info.col-md-3(onclick="make(6,'#{user._id}')") Reset Trial
								button.btn.btn-danger.col-md-3(onclick="make(3,'#{user._id}')") Delete